{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "__non_webpack_require__": false
  },
  "extends": ["1stg/vue"],
  "rules": {
    "no-empty": [
      2,
      {
        "allowEmptyCatch": true
      }
    ],
    "prefer-promise-reject-errors": 0
  }
}
