$theme-color ?= $theme-purple
$theme-color-darker ?= $theme-purple-darker

.theme-color
  color $theme-color !important

.theme-bd
  border-color $theme-color !important

.theme-bg
  background-color $theme-color !important
