$theme-color ?= $theme-purple
$theme-color-darker ?= $theme-purple-darker

// @stylint off
.theme-before-color:before
  color $theme-color

.theme-before-bg:before
  background-color $theme-color

.theme-color
  color $theme-color !important

.theme-bd
  border-color $theme-color !important

.theme-bg
  background-color $theme-color !important

.btn-theme-default
  bbColor $theme-color $theme-color $reverse-color
  bbActive $theme-color-darker $theme-color-darker $reverse-color
  &.inactive
    bbActive $theme-color $theme-color $reverse-color

.btn-theme-primary
  border-radius $half-input-size
  bbColor $reverse-color $theme-color
  bbActive $reverse-color $theme-color-darker
  &.inactive
    bbActive $reverse-color $theme-color
// @stylint on

@keyframes rotate
  from
    transform translate3d(-50%, -50%, 0) rotate(0) scale(1)
  50%
    transform translate3d(-50%, -50%, 0) rotate(180deg) scale(.6)
  to
    transform translate3d(-50%, -50%, 0) rotate(360deg) scale(1)

[lazy="loading"], [lazy="error"]
  relative()

  &:before, &:after
    middleCenter()
    content ' '
    size 35px
    border 2px solid
    border-color $theme-color transparent
    border-radius 100%
    animation rotate 1s 0s ease-in-out infinite
    animation-fill-mode both

  &:after
    size 15px
    animation-duration .5s
    animation-direction reverse
