@require "~normalize.css"
@require "code.styl"
@require "type.styl"
@require "transition"

*, *:before, *:after
  box-sizing border-box

::-webkit-scrollbar
  width 0
  height 0
  opacity 0
  display none
  background transparent

html
  font-size 16px
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

html, body, #app
  height 100%

#app
  position relative
  max-width 1024px
  margin 0 auto
  scroll-behavior smooth
  -webkit-overflow-scrolling touch

a
  &, &:active, &:hover, &:visited
    color inherit
    text-decoration none

h4
  margin 10px 0

.list-unstyled
  list-style none
  margin-top 0
  margin-bottom 10px
  padding-left 0

.pull-right
  float right !important
