@require "iconfont/iconfont.css"

.iconfont
  relative()
  display inline-block
  font-size $common-size
  transform scale(16 / 14)
  padding-left 1px
  padding-right 1px

.icon-male, .icon-female
  color $icon-color

.active
  &.icon-male
    color $male-color
  &.icon-female
    color $female-color

.icon-morning
  color $morning-color

.icon-afternoon
  color $afternoon-color

.icon-evening
  color $evening-color
