.bounce-enter-active,
.bounce-leave-active,
.slide-fade-enter-active,
.slide-fade-leave-active
  absolute(left top)
  width 100%
  height 100%

.bounce-enter-active
  z-index 1
  animation bounce-in .5s

.bounce-leave-active
  z-index -1
  animation bounce-out .5s

@keyframes bounce-in
  from
    transform scale(0)

  50%
    transform scale(1.5)

  to
    transform scale(1)

@keyframes bounce-out
  from
    transform scale(1)

  50%
    transform scale(1.5)

  to
    transform scale(0)

.slide-fade-enter-active, .slide-fade-leave-active
  transition all .8s ease

.slide-fade-enter, .slide-fade-leave-active
  transform translateX(200%)
  opacity 0
