{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": "current",
          "uglify": true
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "lodash",
    "transform-vue-jsx"
  ],
  "comments": false
}
