{
  "env": {
    "browser": true
  },
  "globals": {
    "__DEV__": false,
    "__SERVER__": false,
    "SERVER_PREFIX": false,
    "NON_INDEX_REGEX": false
  },
  "extends": ["../.eslintrc", "plugin:vue/recommended"]
}
